*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'arial', sans-serif;
}

header {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    height: 135px;
    /* display: flex;
    flex-direction: column; */
}

.homepage-link {
    text-decoration: none;
    color: inherit;
    display: none;
    
}

/* body {
    background-color: #101218;
    color: white;
} */

.search-bar-and-navs{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 1.5rem 0.8rem 2rem;
    justify-content: space-between;
}

.search-bar{
    display: flex;
    flex: 1;
    align-items: center;
    /* gap: 1rem; */
    border: 1px solid black;
    border-radius: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 45px;
    /* make the clear button wider */
}

.tailand {
    display: flex;
}


.search-bar input {
    flex: 1;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 20px;
    padding: 0rem 0rem 0rem 1rem;
    font-size: 16px;
}

.search-bar hr {
    height: 35px;
}


.search-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 43px;
    border: none;
    background-color: transparent;
    position: relative;

}

.tooltip {
    position: absolute;
    bottom: -19px;
    background-color: lightgray;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-bar-button:hover .tooltip {
    opacity: 1;
}

.search-bar-button img {
    width: 25px;
    height: 25px;
}



.nav {
    display: flex;
    gap: 6px;
    /* flex: .5; */
}

.nav-button,
.profile-photo-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    transition: 0.20s;
}

.nav-button:hover,
.profile-photo-nav-button:hover {
    background-color: rgb(211, 211, 211);
}



.nav-button img {
    width: 22px;
    height: 22px;
}

.profile-photo-nav-button img {
    width: 35px;
    height: 35px;
    border-radius: 2rem;
}

.header-short-cuts { 
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 3rem;
    font-size: 14px;
    font-weight: bolder;
}

.sc-under-bar {
    display: flex;
    gap: 1.2rem;
    flex: 1;
    
}

.sc-under-bar a,
.sc-under-nav a {
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    white-space: nowrap;
    
}

.sc-under-bar a:hover,
.sc-under-nav a:hover {
    opacity: 1;

}

main{
    display: flex;
    margin: 1.5rem;
}

.twitter-main-info {
    display: flex;
    flex-direction: column;
    width: 31rem;
    min-width: 31rem;
    padding-right: 2rem;
}

.twitter-main-info a {
    text-decoration: none;
}

.expand-but-under {
    margin-top: 2rem;
    min-width: 700px;
}

.twitter-expand-info {
    padding-left: 1.5rem;
    border-left: 1px solid black;
    width: 15rem;
    height: 1000px;
}

.expand-links {
    text-decoration: none;
    color: blue;
}

.expand-links:hover {
    text-decoration: underline;
}

.twitter-1 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.twitter-2 {
    font-size: 14px;
    padding-bottom: 1rem;
}

.twitter-3 {
    font-size: 22px;
    padding-bottom: 1rem;
}

.under-twitter-3 {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

.under-twitter-3-text {
    font-size: 14px;
    line-height: 22px;
}

.twitter-expand-info hr {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.above-icon-text {
    font-size: 18px;
    margin-bottom: 1rem;

}

.expand-icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1.5rem;
}

.expand-icon {
    height: 5rem;
    width: 5rem;
}

.expand-footer-text {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}

.head-x-result-bunch-details p {
    font-size: 14px;
    margin-bottom: 1rem;
    line-height: 20px;
}

.body-x-result-bunch {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 1.5rem   ;
}

.body-x-result-bunch div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.body-x-result-bunch div p {
    font-size: 15px;
}

.body-x-result-bunch-link {
    font-size: 18px;
    /* color: blue; */
}

.body-x-result-bunch-link:hover {
    text-decoration: underline;
}

.body-x-result-bunch-link a {
    color: blue;
}

.Login-on-Twitter-bunch,
.google-play-bunch,
.uptodown-bunch,
.wikipedia-bunch,
.apple-bunch {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.head-x-result-bunch {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.head-title-x a,
.head-title-google-play a,
.head-title-uptodown a,
.head-title-wikipedia a,
.head-title-apple a {
    font-size: 13px;
    color: inherit;
}

.head-title-x a:hover,
.head-title-google-play a:hover,
.head-title-uptodown a:hover,
.head-title-wikipedia a:hover,
.head-title-apple a:hover{
    text-decoration: underline;
} 

.icon-x-weblink,
.icon-x-login-weblink,
.icon-google-play-weblink,
.icon-uptodown-weblink,
.icon-wikipedia-weblink,
.icon-apple-weblink {
    display: flex;
    align-items: center;
    /* color: inherit; */
}



.x-logo-icon,
.google-play-logo-icon,
.uptodown-logo-icon,
.wikipedia-logo-icon,
.apple-logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.uptodown-logo-icon img,
.google-play-logo-icon img {
    width:19px;
}


.under-x-logo-icon p a,
.under-google-play-logo-icon p a,
.under-uptodown-logo-icon p a,
.under-wikipedia-logo-icon p a,
.under-apple-logo-icon p a {
    font-size: 20px;
    color: rgb(71, 71, 255);
}

.under-x-logo-icon p a:hover,
.under-google-play-logo-icon p a:hover,
.under-uptodown-logo-icon p a:hover,
.under-wikipedia-logo-icon p a:hover,
.under-apple-logo-icon p a:hover {
    text-decoration: underline;
}



.Login-on-Twitter-bunch-details p {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}



.button-stack-header {
    font-size: 1.5rem;
}

.button-stack {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 3rem;

}

.button-stack-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 27rem;
    padding: 1rem ;
    font-size: 17px;
}

.button-stack-button p span {
    font-weight: 600;
}

.button-stack button img {
    width: 20px;
}

.big-google-bottom,
.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-google-bottom {
    font-size: 2rem;
}

.bottom-nav {
    display: flex;
    gap: .5rem;
}

.button-stack-header-container {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

footer {
    background: gray;
    padding: 1rem 4rem 1rem 2rem;
    
}

.personalisation {
    margin-bottom: 1rem;
    font-size: 14px;         
}

.personalisation a,
.location a,
.footer-bottom-link a {
    text-decoration: none;
}

.personalisation a,
.location a {
    color: blue;
}

.location {
    margin-bottom: 0.5rem; 
    font-size: 14px;
}

.footer-bottom-link {
    display: flex;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 14px;
    gap: 1rem;

}

.footer-bottom-link a {
    color: inherit;
    opacity: 0.7;

}

.footer-bottom-link a :hover {
    opacity: 1;
}

@media (max-width: 800px) {
    .twitter-expand-info {
        display: none;
    }

    .twitter-main-info{
        width: 100%;
    }
}

@media (min-width: 800px) {
    .twitter-main-info {
        min-width: 31rem;
    }

    .expand-but-under {
        display: none;
    }
}

@media (min-width: 950px) {
    .twitter-main-info {
        min-width: 38rem;
    }

    .homepage-link {
        display: block;
    }

    .small-google-button {
        display: none;
    }
}

@media (min-width: 1100px) {
    .twitter-main-info {
        min-width: 46rem;
    }

    .search-bar {
        max-width: 50rem;
    }
}

@media (min-width: 1250px) {
    .twitter-main-info {
        min-width: 50rem;
        
    }

    .twitter-expand-info {
        min-width: 25rem;
    }

    main {
        /* display: flex; */
        /* min-width: 80rem; */
        justify-content: center;
    }
}